@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mess{
    position: fixed;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid rgb(228,228,228);
    margin-top: 630px;
    margin-left: 93%;
    background-color: white;
    z-index: 1;
}
.mess i{
    font-size: 45px;
    color: #007bff;
    margin-top: 8px;
    margin-left: 8px;
}
.header{
    height: 200px;
    width: 100%;
    background-color:white;
}
.header .logo{
    position: relative;
    left: 200px;
    width: 40%;
}
.header .menu{
    
    font-size: 30px;
    position: relative;
    bottom: 60%;
    width: 50%;
    float: right;
    right: 50px;
    z-index: 1;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li{
    list-style-type: none;
    float: left;
    width: 175px;
    line-height:1.5em;
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: rgb(241, 240, 240);
}
.menu ul{
    list-style-type: none;
    position: absolute;
    font-size: 20px;
    top: 65px;
    right: 0px;
    display: none;
    z-index: 1;
}
.menu li:hover{
    cursor: pointer;
    background-color: #2081E2;
    color: white;
    transition: 0.5s;
}
.menu li:hover a{
    color: white;
}
.menu li:hover .cap1 a{
    color: black;
}
.menu .cap1 li:hover a{
    color: white;
}
.menu li:hover ul{
    display: block;
}
#fonttext{
    font-family: "Poppins";
}
.hinhanh{
    height: 40%;
    width: 100%;
}
.anh1{
    width: 95%;
    margin: 0 auto;
}
.hinhanh .anh1 img{
    border-radius: 30px;
    border: 1px solid black;
    width: 100%;
    margin-top: -70px;
}
.lopphu{
    position: absolute;
    margin-left: 2.55%;
    margin-top: 15%;
    height: 350px;
    width: 94.9015%;
    background-color: rgba(0,0,0,0.55);
}
.lopphu p{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: white;
}
.tenshop p{
    margin-top: -15px;
    font-size: 100px;
}
.gioithieu{
    height: 350px;
    width: 95%;
    margin-top: -205px;
    position: absolute;
    left: 4.5%;
}
.box1, .box2, .box3{
    float: left;
    height: 350px;
    width: 20%;
    background-color: white;
    margin-left: 8.5%;
    border: 1px solid black;
    border-radius: 30px;
}
.box1 h2{
    font-size: 30px;
    float: left;
    margin-left: 25px;
    margin-top: 20%;
}
.box1 p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 45%;
}
.logo1 img{
    margin-right: 20px;
    width: 40%;
    float: right;
}
.box3 h2{
    text-align: center;
    margin-top: 10px;
}
.anh2{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #007bff;
    margin: 0 auto;
    margin-top: 10px;
    transition: 0.3s;
}
.anh2 img{
    width: 100%;
}
.anh2:hover{
    width: 100%;
    height: 100%;
    border: unset;
    border-radius: unset;
    margin-top: -45px;
}
.box2 .tron{
    height: 270px;
    width: 270px;
    border-radius: 50%;
    border: 5px solid #6a5af9;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin: 0 auto;
    margin-top: 12%;
    animation: quay 1s infinite ease;
}
.heart i{
    position: relative;
    font-size: 180px;
    top: -220px;
    left: 90px;
    color: red;
}
.box3{
    overflow: hidden;
}
.box3 h3{
    margin-top: 20px;
    text-align: center;
}
.mangxahoi{
    width: 270px;
    margin-top: 20px;
    margin-left: 18%;
}
.icon{
    font-size: 30px;
    color: black;
    margin-right: 30px;
}
.fb:hover{
    color: #2081E2;
}
.yt:hover{
    color: #f00;
}
.gh:hover{
    color: purple;
}
.ig:hover{
    color: orangered;
}
.footer{
    margin-top: 15%;
    height: 230px;
    width: 100%;
    background-color: #111111;
}
.footer h2{
    padding-top: 15px;
    color: white;
    text-align: center;
}
.footer i{
    padding-right: 15px;
}
.footer p{
    padding-top: 15px;
    text-align: center;
    color: white;
}
@keyframes quay{
    100%{
            transform: rotate(360deg);
    }
}